<!DOCTYPE html>
<html>
<head>
  <title>Website</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% @user = User.find_by_remember_token(cookies[:remember_token]) %>
<% unless @user.nil? %>
<%= @user.name %>
<%= form_tag "/signout", :method => :delete do %>
<% submit_tag "Sign out"%>
<% end %>
<% else %>
<%= link_to 'signin',"/signin"%>
<% end %>
<div class="main">
<%= yield %>
<div class="main">
</body>
</html>
